<div style="text-align:center">
  <div *ngIf='errorFlag'>
    <p>ERROR! Please check your details</p>
  </div>
  <form class="example-form">
    <mat-form-field>
      <input matInput placeholder="username" type="text" class="userName" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="password" type="password" class="password" [(ngModel)]="password">
    </mat-form-field>
  </form>
  <button mat-button class="login" (click)="loginClicked()">Login</button>
  <button mat-button class="signup" (click)="signupClicked()">Signup</button>
</div>