<div style="text-align:center">
  <h1>Sign up for the website</h1>
  <div>
    <label>username:<input type="text" [(ngModel)]="username"/></label><br/>
    <label>password:<input type="text" [(ngModel)]="password"/></label><br/>
    <label>firstname:<input type="text" [(ngModel)]="firstname"/></label><br/>
    <label>lastname:<input type="text" [(ngModel)]="lastname"/></label><br/>
  </div>
  <div>
    <button (click)="back()">
					Back
			</button>
    <button (click)="save()">
			Save
		</button>
    <button (click)="cancle()">
			Cancle
		</button>
  </div>
</div>